@import '../variables.scss';

:local {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include section-spacing;
	}

	.titles {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 5vh;
	}

	.timelineContainer {
		margin-top: 10vh;
		height: 90vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div:last-child {
			text-align: end;
		}
	}

	@mixin commonColumn {
		display: flex;
		flex-direction: column;
		justify-content: space-between
	}

	.textColumn {
		@include commonColumn;

		text {
			white-space: pre-wrap;
			width: 22.5vw;
		}
	}

	.timelineColumn {
		@include commonColumn;
		align-items: center;
		background: linear-gradient(180deg, $color-pink 0%, $color-blue 100%);
		width: 0.4vw;

		div {
			width: 1.25vw;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: $color-blue;
		}

		$edgeTranslation: 0.1vh;

		div:first-child {
			transform: translateY(calc(-1 * $edgeTranslation));
			z-index: -1;
		}

		div:last-child {
			transform: translateY($edgeTranslation);
			z-index: -1;
		}
	}

	:nth-child(2).timelineColumn {
		margin-right: 17.5vw;
	}
}