@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold pb-4;
  }

  a {
    @apply hover:underline;
  }
  
  .page-container {
    padding-left: 2%;
    padding-right: 2%;
  }

  @media (min-width: 768px) {
    .page-container {
      padding-left: 4%;
      padding-right: 4%;
    }
  }

  @media (min-width: 1024px) {    
    .page-container {
      padding-left: 12.5%;
      padding-right: 10%;
    }
  }

  .project-padding {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 640px) {
    .project-padding {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  .top-screen {
    top: calc(100vh - 16rem);
  }

  pre > code {
    background: none !important;
    border: none !important;
  }

  pre > code :is(:where(.dark)) {
    background: none !important;
    border: none !important;
  }

  ul ul {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  ol ol {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}