:root {
  --color-primary: #D060E2;
  --color-white: #CCCCCD;
  --color-grey-darker: #1d1d1d;
  --color-grey-dark: #2A2A2A;
  --color-grey-neutral: #404040;
  --color-grey-light: #6E6E6E;
  --color-grey-text: #5E5E5E;
  --color-blue-links: #9CBECC;
  --main-font: 'Inter', sans-serif;
}

* {
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-grey-dark);
  height: auto;
  max-width: 1920px;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, span {
  font-weight: normal;
}

html {
  background-color: var(--color-grey-dark);
  color: var(--color-white);
}

button {
  color: var(--color-white);
}

a {
  color: var(--color-blue-links);
}

mark {
  background-color: var(--color-primary);
  color: var(--color-grey-dark);
}

button {
  font-size: 1.5rem;
  background-color: var(--color-grey-neutral);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-grey-light);
} 