
.sideBarBoxDisplay {
    /* width: 40%; */
    height: 50px;
    font-size: 15px;
    background-color: #2D2D2D;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    color: #B2B2B2;
    white-space: nowrap;
    margin-bottom: 5px;
}
.sideBarBoxField {
    width: 80%;
    height: 30px;
    background-color: #141514;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    align-items: center;
    font-size: 15px;
    color: #B2B2B2;

}

.sideBarBoxInput {
    /* width: 40%; */
    height: 150px;
    font-size: 15px;
    background-color: #2D2D2D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    align-items: flex-start;
    color: #B2B2B2;
    white-space: nowrap;
}

.sideBarBoxFieldInput {
    width: 100%;
    height: 100%;
    background-color: #141514;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #B2B2B2;
    /* overflow-x: scroll;  */
    resize: none;
    /* overflow-y: scroll; */
   
}


.resizable-block {
    background-color: purple;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    user-select: none;
    border: 1px solid #ccc;
  }
  



.timeline {
    margin-bottom: 20px;
    margin-top: 30px;
    user-select: none;

    /* .timeline-editor {
      /* width: 100%; */
      /* max-width: 800px; */
      

  }


.timeline_block {
    cursor: pointer;
    background-color: #4C3680;
    height: 50px;
    border-radius: 10px;
    padding:5px;
    padding-left: 10px;
    overflow: hidden;
    user-select: none;
}

.timeline_block p {
    white-space: nowrap;
}

.button {
    border-radius: '20px';
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: row;
}
.button h3 {
    font-size: 20px;
}
.buttontext {
    margin-left: 10px;
}
.timelineBar {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space out the child elements */
    align-items: center; /* Align items vertically in the center */
    margin-top: 20px;
}

.timelineBarTime {
    text-align: center; /* Center the text of the first item */
    flex-grow: 1; /* Allow the first item to grow and take available space */
}

.timelineBarIcons {
    margin-left: 10px;
}
.timelineBarIcons button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.titleBar {
    display: flex; /* Enable Flexbox */
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center; /* Align items vertically in the center */
}

.titleBarFirstItem {
    margin-right: 15px;
}

.titleBarRight {
    margin-left: auto;
    margin-right: 15px;
}

.textBox {
    margin-top: 40px;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}