@import '../variables.scss';

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	@include gutter;
	padding-top: 5vh;
	padding-bottom: 2vh;
	background-color: $color-grey;

	h3 {
		padding-left: 2vw;
		padding-right: 2vw;
	}
}