@import '../variables.scss';

.navbar {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	@include gutter;
	padding-top: 3vh;
	padding-bottom: 10vh;
	background: $color-grey;
	background: linear-gradient(0deg, transparent 0%, $color-grey 55%);
	gap: 2vw;

	h4 {
		padding-left: 2vw;
		padding-right: 2vw;
		width: 20vw;
		text-align: center;
	}
}